extends layout

block content
  head
    title hi
  header
    h1= 'Message Board'
    p Please feel free to drop a message!
    a(href='/new'): button.compose= "Add a message"
  
  main
    each msg in messages
      section.message-card
        h3= msg.user + ' says:'
        p.text " #{msg.text} "
        p.added #{msg.added}
