body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#message-form {
  max-width: 200px;
}

.message-card {
  margin-bottom: 20px;
  box-shadow: 0 3px 7px #00577759;
  padding: 10px;
  border-radius: 5px;
  width: 320px;
  font-size: 1em;
}